
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(171, 18, 18);
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

nav a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(239, 125, 4);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: rgb(246, 130, 5);
}

nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.slideshow-container {
  width: 100vw;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slideshow-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide {
  display: none;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 20px;
  gap: 20px; /* Espaço entre os produtos */
}

.product-card {
  width: 250px; /* Largura fixa para as boxes */
  background-color: #f9f9f9;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none; /* Remove o sublinhado do link */
  color: inherit; /* Herda a cor do texto do elemento pai */
  overflow: hidden; /* Para evitar que o conteúdo ultrapasse a borda */
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card p {
  font-size: 18px;
  margin: 10px 0;
}


/*Caixa de informação*/
.box {
  width: 200px;
  height: 250px;
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  text-align: center;
}

.box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.box h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.box p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.box:hover .overlay {
  opacity: 1;
}

.box .overlay .content {
  position: absolute;
  top: 50%;
}



/*Carinho de Compra*/
.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.5em;
  font-family: "Arial";
  transition: background 0.7s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}


/*Footer*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #c1272d;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}